<html>
<head><title>Default Adze site active</title></head>
<body>
 <h1>Adze site operational</h1>
<p>To replace this content, edit web/index.php to set a root for the "/" path and load other Modules and Controllers</p>
</body>
</html>
