{% extends 'layout.html.twig' %}

{% block title %}Default Adze site active{% endblock %}

{% block content %}
    <h1>Adze site operational</h1>

    <p>To replace this content, edit web/index.php to set a new root for the "/" path and load other Modules and
        Controllers.</p>
{% endblock %}

{% block sidebar %}
    <div class="well well-sm text-center" style="margin-top: 20px">
        Loaded: {{ time|date("H:i:s") }}
    </div>

    <div class="well well-sm text-center" style="margin-top: 20px">
        {% if user %}
            <p>Logged in as {{ user }} {% if is_granted('ROLE_ADMIN') %}(ADMIN){% endif %}</p>
            <p><a href="{{ path('user.logout') }}">Logout</a></p>
        {% else %}
            <p>Anonymous user</p>
            <p><a href="{{ path('user.login') }}">Login</a></p>
        {% endif %}
    </div>
{% endblock %}
