<!--suppress HtmlUnknownTarget -->
<!DOCTYPE html>
<html lang="en">
<head><title>Default Adze site active</title>
    <link type="text/css" media="all" rel="stylesheet" href="/resources/components/bootstrap/css/bootstrap.min.css"/>

</head>
<body>
<div class="container">
    <h1>Adze site operational</h1>

    <p>To replace this content, edit web/index.php to set a new root for the "/" path and load other Modules and
        Controllers.</p>
</div>
</body>
</html>
