<form action="{{ path('admin_login_check') }}" method="post">
    {{ error }}
    <input type="text" name="_username" value="{{ last_username }}" placeholder="Username"/>
    <input type="password" name="_password" value="" placeholder="Password"/>
    <input class="btn" type="submit"/>
</form>
