<?php
/**
 * @TODO Copy this file to index.php to get started quickly
 *
 * Created by PhpStorm.
 * User: parsingphase
 * Date: 06/09/14
 * Time: 17:18
 */

use Phase\Adze\Application;

require_once __DIR__ . '/../vendor/autoload.php';

$app = new Application();
$app->loadConfig(require dirname(__DIR__) . '/config/config.php');
$app->setupCoreProviders();

$resourceController = $app->getResourceController();
// Make the components folder accessible through the ResourceController at /resources
$resourceController->addPathMapping('components', dirname(__DIR__).'/components');

//TODO configure error handling

//TODO replace this route to get real homepage content
$app->get(
    '/',
    function () use ($app) {
        return $app->render('unconfigured-site/homepage.html.twig');
    }
);

// Set site own template path (last in list; everything else gets a chance to get there first);
$app->appendTwigLoader(new Twig_Loader_Filesystem(dirname(__DIR__) . '/templates'));

$app->run();
